.nav1{
    width: 100vw;
    background-color: rgb(19,25,33);
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 15px 0;
    position: fixed;
    top: 0;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 50;
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.in{
    color:  white;
}
.location{
    width: 15vw;
    position: relative;
    color: white;
}
.loc-icon{
    position: absolute;
    top: 10px;
}
.del-loc{
    position: absolute;
    right: 0;
}
.up-loc{
    position: absolute;
    bottom: 0;
    left: 20px;
}
#select option{
    color: black;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-icon{
    color: white;
    height: 40px;
    width: 50px;
    background-color: rgb(243,168,71);
}
#select{
    width: 65px;
    height: 40px;
    background-color: rgb(230,230,230);
    font-size: 18px;
    padding: 0 5px 0 10px;
    border: none;
    outline: none;
}
input{
    height: 40px;
    width: 550px;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    outline: none;
}
.flag-lang{
    display: flex;
    align-items: center;
}
#select2{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.return-order{
    color: white;
}
.order{
    font-size: 20px;
    font-weight: 600;
}
.add-to-card{
    display: flex;
    color: white;
    position: relative;
    justify-content: center;
    align-items: start;
    gap: 5px;
}
.cart-icon{
    font-size: 35px;
}
.cart{
    margin-top: 15px;
}
.cart-items-count{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 18px;
}
.sign-in-up{
    color: white;
}
.add-to-card{
    cursor: pointer;
}