.page-container{
    display: flex;
    height: 70vh;
    position: relative;
}
.content{
    display: flex;
}
.slide-panel{
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.prev, .next {
    position: absolute;
    font-size: 35px;
}
.prev{
    left: 0;
    top: 50%;
}
.next{
    right: 0;
    top: 50%;
}
img{
    scroll-snap-align: start;
    min-width: 100%;
}
::-webkit-scrollbar{
    display: none;
}